@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {@GlobalConstants.SystemName}";
}

<div class="text-center">
    <cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
        <img src="~/ezgif.com-gif-maker.gif" width="1000" class="mr-3" alt="ForumSlider">
        <hr />
        <h1>@DateTime.Now</h1>
        <br />
    </cache>
    <a asp-controller="Posts" asp-action="Create" class=" btn-lg btn-primary"> Create new forum post</a>
</div>
<hr />
<div class="row" style="text-align:center">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                @category.Description
            </div>
        </div>
    }
</div>
