@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"{@GlobalConstants.SystemName}";
}
<div class="w3-content w3-display-container">
    <a asp-area="" asp-controller="Posts" asp-action="All"><img class="mySlides" src="https://cdncloudcart.com/4692/files/image/slaider-1903x7163-5e820f84cad53.jpg" style="width:100%"></a>
    <img class="mySlides" src="https://cdncloudcart.com/4692/files/image/slaider-1903x7167-5e820f721d6a7.jpg" style="width:100%">
    <img class="mySlides" src="https://cdncloudcart.com/4692/files/image/slaider-1903x7162-5e820f62e03ab.jpg" style="width:100%">

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<div class="text-center">
    <hr />
    <a asp-controller="Posts" asp-action="Create" class=" btn-lg btn-primary"> CREATE NEW FORUM POST</a>
    <hr />
</div>
<div class="row" style="text-align:center">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                @category.Description
            </div>
        </div>
    }
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>