@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"{@GlobalConstants.SystemName}";
}
<a asp-area="" asp-controller="Posts" asp-action="All"><img style="width:100%;" src="~/unnamed.jpg" width="1000" class="mr-3" alt="ForumSlider"></a>
<div class="text-center">
    <hr />
    <a asp-controller="Posts" asp-action="Create" class=" btn-lg btn-primary"> CREATE NEW FORUM POST</a>
    <hr />
</div>
<div class="row" style="text-align:center">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                @category.Description
            </div>
        </div>
    }
</div>
